{% extends 'base.html.twig' %}

{% block title %}
  Page de test 
  
{% endblock %}

{% block body %}
  <h1>
    Page de test           
      
  </h1>
  <h2>
    {{ name }}
    <br>
      {{ date }}
      <br>
        {{ route }}
      </h2>
    {% endblock %}
    